.button {
  width: 100%;
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  font-size: 13px;
  line-height: 13px;
  margin: 14px auto;
  color: #000;
  display: block;
  border: none;
}

.button_link {
  background-color: transparent;
  text-decoration: underline;
  border-radius: 0;
  color: #3369f3;
}

.button_primary {
  background-color: #3369f3;
  color: #fff;
}
