.chat__search-form-control {
  background-color: #efefef;
  color: #999;
  border-radius: 8px;
  height: 24px;
  font-size: 12px;
  text-align: center;

  &::placeholder {
    background: url(/static/images/magnifying-glass-solid.svg) no-repeat;
    background-position: 35%;
  }

  &:focus::placeholder {
    color: transparent;
    background-image: none;
  }
}

.chat__search-form {
  padding: 10px;
}
