.chat__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 6px 10px;
  margin: 4px;
  border-top: 1px solid #eaeaea;
}

.chat-item {
  &.active {
    background-color: #e4edfd;
  }

  &__avatar {
    flex: none;
    margin: 8px 0;
    margin-right: 4px;
  }

  &__last-message-detials {
    width: 100%;
    & > div {
      width: 100%;
      display: inline-flex;
      margin-bottom: 4px;
    }
  }

  &__title {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    color: #1e1e1e;
  }

  &__last-message-time {
    font-size: 9px;
    line-height: 13px;
    margin-left: auto;
    padding-right: 4px;
  }

  &__last-message-content {
    font-size: 12px;
    line-height: 15px;
    color: #999;
  }

  &__last-message-detials-unread-count {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 11px;
    line-height: 12px;
    background-color: #3369f3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: auto;
  }
}
