.chat__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 6px 10px;
  margin: 4px;
  border-top: 1px solid var(--border-color);
}

.chat__avatar {

}

.chat-item {
  cursor: pointer;

  &.active {
    background-color: var(--background-color);
  }

  &__avatar {
    flex: none;
    margin: 8px 0;
    margin-right: 4px;
  }

  &__last-message-detials {
    width: 100%;
    & > div {
      width: 100%;
      display: inline-flex;
      margin-bottom: 4px;
    }
  }

  &__title {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    color: var(--text-color);
  }

  &__last-message-content {
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-color);
  }

  &__message-time {
  }
}
