.chat__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 12px 0;
}

.chat-item {
  &__avatar {
    flex: none;
  }

  &__middle-block {
    flex: 1;
    padding: 0 10px;
  }

  &__title {
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    color: #1e1e1e;
  }

  &__last-message-content {
    font-size: 12px;
    line-height: 15px;
    color: #999;
    padding: 4px 0;
  }

  &__last-message-time {
    font-size: 9px;
    line-height: 13px;
  }

  &__last-message-detials-unread-count {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 11px;
    line-height: 12px;
    background-color: #3369f3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__last-message-detials {
    width: 23px;
    overflow: hidden;
    flex: none;
  }

}
