<div data-id = "{{chat.id}}" class="{{className}} chat-item">
  <Chat.Avatar className="chat-item__avatar" image={{chat.avatar}} />
  <div class="chat-item__last-message-detials">
  <div>
    <div class="chat-item__title">{{chat.title}}</div>
    <div class="chat-item__last-message-time">{{formattedTime}}</div>
  </div>
  <div>
    <div class="chat-item__last-message-content">{{chat.last_message.content}}</div>
    <div class="chat-item__last-message-detials-unread-count">{{chat.unread_count}}</div>
  </div>
</div>
