.form__group {
  width: 100%;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 16px;

  &:after {
    font-size: 8px;
    line-height: 8px;
    display: block;
    color: red;
    margin-bottom: -10px;
    padding-top: 2px;
  }
}

.form__group_invalid-require:after {
  content: "Поле необходимо для заполенения";
}

.form__group_invalid-email:after {
  content: "email некоректен";
}

.form__group_invalid-login:after {
  content: "Допустимы символы латинского алфавита .$_, минимиум 4 символа";
}

.form__group_invalid-text:after {
  content: "Допустимы символы латинского, кирилического алфавита";
}

.form__group_invalid-phone:after {
  content: "Номер телефона должен содержать 11 цифр, допустимы +()-";
}

.form__group_invalid-password:after {
  content: "Пароли не совпадают";
}
