@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#root {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
}

textarea:focus,
input:focus {
  outline: none;
}
