:root {
  --main-color: #3369f3;
  --secondary-color: #efefef;
  --grey-color: #999;
  --white-color: #fff;
  --black-color: #000;

  --background-color: #e4edfd;
  --second-background-color: #f8f8f8;
  --border-color: #eaeaea;

  --text-color: #1e1e1e;
}
