.message {
  margin-bottom: 10px;
  display: flex;

  &__container {
    background-color: #f8f8f8;
    border-radius: 12px;
    width: 402px;
    overflow: hidden;
  }

  &[hasmedia] &__container {
    max-width: 402px;
  }

  &:not([hasContent])&__container {
    display: flex;
    flex-direction: column;
  }

  &__content {
    color: #1e1e1e;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 8px;
    position: relative;
  }

  &__image {
    max-width: 100%;
  }

  &:not([hasContent]) &__time {
    margin: auto;
    margin-right: 0;
    position: relative;
    bottom: 20px;
    width: 70px;
    text-align: center;

    & .date {
      padding: 0;
      margin-right: 8px;
      margin-bottom: 4px;
      background-color: #989898;
      border-radius: 5px;
      padding: 2px;
      color: white;
    }
  }

  &[hasContent] &__time {
    display: flex;
    padding-bottom: 8px;
    padding-right: 8px;
    float: right;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    shape-outside: inset(calc(100% - 22px) 25% 25%);
  }

  [first-message]:before {
    content: attr(first-message);
    color: #000;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #999;
    display: block;
    width: 100px;
    margin: 20 auto;
  }
}
