.message {
  width: 402px;
  margin-bottom: 10px;

  &__container {
    background-color: #f8f8f8;
    border-radius: 12px;
    max-width: 402px;
    overflow: hidden;
  }

  &__content {
    color: #1e1e1e;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 8px;
  }

  &__image {
    width: 100%;
  }

  &__time {
    position: relative;
    width: 70px;
    bottom: 30px;
    text-align: center;
  }
}

.message[first-message]:before {
  content: attr(first-message);
  color: #000;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #999;
  display: block;
  width: 100px;
  margin: 20 auto;
}
