.chat-header {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid var(--secondary-color);
  &.empty > * {
    display: none;
  }

  &__avatar {
  }

  &__title {
    margin-left: 10px;
  }

  &__menu {
    margin: 0;
    margin-left: auto;
    height: 25px;
    width: 25px;
    background: url(/static/public/images/ellipsis-vertical-solid.svg) no-repeat 50%;
  }
}
